
<%- include("partials/header") %>

    <div class="col-md-9">
        <div class="row settings-items">
            <div class="col-md-4">
                Total Budget
            </div>
            <div class="col-md-4">
                <input type="number" placeholder="1000000">
            </div>
            <div class="col-md-4">
                <button class="btn btn-warning">Update</button>
            </div>
        </div>
        <form method="POST" action="/category/new">
            <div class="row settings-items">
                <div class="col-md-4">
                    Categories
                </div>
                <div class="col-md-4">
                    <input name="category" type="text" placeholder="Category Name Here">
                </div>
                <div class="col-md-4">
                    <button type="submit" id="add-category" class="btn btn-success">Add</button>
                </div>
                
            </div>
        </form>
    </div>

</body>
</html>