
<%- include("partials/header") %>

    <div class="col-md-9">
        <form method="POST" action="/budget/new">
            <div class="row settings-items">
                <div class="col-md-4">
                    Total Budget
                </div>
                <div class="col-md-4">
                    <input name="budget" type="number" placeholder="1000000">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>
            </div>
        </form>

        <form method="POST" action="/category/new">
            <div class="row settings-items">
                <div class="col-md-4">
                    Categories
                </div>
                <div class="col-md-4">
                    <input name="title" type="text" placeholder="Category Name Here">
                </div>
                <div class="col-md-4">
                    <button type="submit" id="add-category" class="btn btn-success">Add</button>
                </div>
                
            </div>
        </form>
        <div style="font-size:30px;">
            Categories
        </div>
        <ul class="list-group">
            <% categories.forEach(cat=>{ %>
                <li style="width: 50%;" class="list-group-item"><%= cat.title %></li>
            <% }) %>
          </ul>
    </div>

</body>
</html>